:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 7vh;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(32, 61, 96);
  background: -moz-linear-gradient(49deg, rgba(32, 61, 96, 1) 0%, rgba(28, 52, 82, 1) 4%, rgba(17, 32, 51, 1) 11%, rgba(12, 22, 35, 1) 22%, rgba(16, 31, 49, 1) 45%, rgba(52, 50, 42, 1) 59%, rgba(7, 31, 61, 1) 83%, rgba(40, 53, 63, 1) 93%, rgba(89, 85, 65, 1) 100%, rgba(252, 193, 74, 1) 100%);
  background: -webkit-linear-gradient(49deg, rgba(32, 61, 96, 1) 0%, rgba(28, 52, 82, 1) 4%, rgba(17, 32, 51, 1) 11%, rgba(12, 22, 35, 1) 22%, rgba(16, 31, 49, 1) 45%, rgba(52, 50, 42, 1) 59%, rgba(7, 31, 61, 1) 83%, rgba(40, 53, 63, 1) 93%, rgba(89, 85, 65, 1) 100%, rgba(252, 193, 74, 1) 100%);
  background: linear-gradient(49deg, rgba(32, 61, 96, 1) 0%, rgba(28, 52, 82, 1) 4%, rgba(17, 32, 51, 1) 11%, rgba(12, 22, 35, 1) 22%, rgba(16, 31, 49, 1) 45%, rgba(52, 50, 42, 1) 59%, rgba(7, 31, 61, 1) 83%, rgba(40, 53, 63, 1) 93%, rgba(89, 85, 65, 1) 100%, rgba(252, 193, 74, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#203d60", endColorstr="#fcc14a", GradientType=1);
}

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel&display=swap');

/* width */
::-webkit-scrollbar {
  width: 0.5vh;

}

/*Custom Scroll Bar Style */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid hsla(206, 30%, 51%, 0.548);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 1px solid hsla(206, 30%, 51%, 0.548);
  border-radius: 3px;
  opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.459);
}

.hide {
  display: none;
}

.navigation {
  background-color: hsla(0, 0%, 13%, 0.445);
  border-bottom: solid 3px hsla(61, 100%, 91%, 0.322);
}

.navigation img {
  max-height: 15vh;
}

.nav-item {
  color: var(--text-color);
  font-family: 'Cardo', sans-serif;
  margin: 10px;
}

.nav-item:hover {
  opacity: 0.5;
}

.toggle-box {
  border: white solid 2px;
}


/* Browse Component Stylings */

/* Home Page Stylings */

.pic-title {
  display: flex;
  background-color: hsla(210, 3%, 39%, 0.781);
  justify-content: center;
  max-width: fit-content;
  font-family: 'Cardo', sans-serif;
  padding: 7px;
  color: var(--text-color);
  border: hsla(210, 3%, 15%, 0.74) solid 1px;
  border-radius: 15px;
}

.pic-txt {
  display: flex;
  background-color: hsla(210, 3%, 39%, 0.781);
  justify-content: center;
  max-width: fit-content;
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  padding: 7px;
  color: var(--text-color);
  border: hsla(210, 3%, 15%, 0.74) solid 1px;
  border-radius: 15px;
}

.home-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cardo', serif;
  margin: 10px
}

.home-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3.0rem;
  background: -webkit-linear-gradient(rgba(252, 193, 74, 0.863), hsla(0, 4%, 86%, 0.522));
  border: #474a4d solid 2px;
  border-radius: 50%;
  padding: 25px;
}

.home-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 2.5vh;
  font-weight: bolder;
  font-style: italic;
  color: var(--text-color);
}


.pkg-tab {
  border: var(--text-color) solid 2px;
  border-radius: 25% 75% 23% 77% / 56% 38% 62% 44%;
  background-color: hsla(210, 4%, 29%, 0.747);
  display: flex;
  justify-content: center;
}

.pkg-tab:hover {
  background-color: -webkit-linear-gradient(hsla(40, 97%, 64%, 0.863), hsla(0, 4%, 86%, 0.522));
}

.pkg-tab-pill {
  color: var(--text-color);
  font-family: 'Cardo', sans-serif;
  margin: 0.5rem;
}

.formstyle {
  display: flex;
  justify-content: center;
}

.formcontent {
  border: #dadce1 solid 2px;
  background-color: hsla(210, 3%, 15%, 0.822);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
  padding: 1vh;
  color: var(--text-color);
}

.formcontent h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.formlabel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formcontent button {
  margin: 2vh;
}

.calinput {
  display: flex;
  justify-content: center;
  padding: 1vh;
  font-family: 'Cardo', sans-serif;
  border-radius: 5px;
}

.calinput:hover {
  border: hsla(40, 97%, 64%, 0.863) solid 2px;
}

/* Properties Component Styling  */
.propertylist {
  display: flex;
  background-color: hsla(210, 10%, 73%, 0.418);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  padding: 7px;
  color: var(--text-color);
  border-radius: 15px;
  box-shadow: 0 3px 10px hsla(40, 97%, 64%, 0.377);
}

.propListDiv {
  margin: 1vh;
}

.propertyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid hsla(0, 0%, 15%, 0.349) 0.2vh;
  background-color: hsla(212, 82%, 15%, 0.425);
  box-shadow: 0 3px 10px hsla(40, 97%, 64%, 0.562);
  border-radius: 15px;
  margin: 1vh;
  padding: 10px;
}

.propertyCard h2 {
  color: hsla(40, 97%, 64%, 0.863);
}

.proplink {
  color: hsla(206, 30%, 51%, 0.548) !important;
}

.proplink:hover {
  opacity: 0.7;
}

.proplink:active {
  color: rgba(255, 255, 255, 0.541) !important;
}

.addPropBtn {
  background-color: hsla(220, 4%, 15%, 0.781);
  margin-top: 1vh;
  color: hsl(0, 0%, 100%);
  border: solid hsl(0, 0%, 100%) 1px;
  border-radius: 10px;
}

.addPropBtn:hover {
  opacity: 0.8;
}


/* Add Property Stylings.  */

.radioInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radioInputDiv input {
  margin: 2px;
}

.radioInputDiv label {
  margin-right: 15px;
}


/* Loading component Things. */
.loading {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 10vh;
  height: 10vh;
  border: 10px solid hsla(40, 97%, 64%, 0.863);
  border-top-color: hsla(210, 3%, 39%, 0.781);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* Property Detail Stylings */
.propimg {
  max-height: 700px;
  border: solid white 1px;
  border-radius: 20px;
}

.carousel-control-prev-icon {
  background-color: hsl(0, 0%, 0%);
  border: solid black 2px;
}

.carousel-control-next-icon {
  background-color: hsl(0, 0%, 0%);
  border: solid black 2px;
}